version: "3.9"
services:
  redis:
    container_name: "redis-search"
    image: "redis/redis-stack"
    ports:
      - "6379:6379"
      - "8001:8001"
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
